body {
  font-family: 'Lora', sans-serif;
  background-color: white;
}

header h1 {
  /* text-align: left; */
  font-size: 7vw;
  line-height: 10vw;
  padding-left: 15vw;
}

h3 {
  font-family: 'Lora';
  color: #905c3d;
  text-align: center;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

/* a {
  /* color:#f9ceb7; */
  color: #905c3d;
} */

p {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  /* background: #f1f1f1; */
  width: 100%;
  height: 26em;
  padding: 25px;
  margin: 25px;
  /* background-color: white; */
  padding: 10px;
  border-color: grey;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
